*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.mlogo{
    position: absolute;
    margin-left: -500px;
    margin-top: -10px;
    font-size:35px;
    font-family:monospace;
    font-weight: 700;
}
.mlogo a{
    text-decoration: none;
}

.vih{
    position: absolute;
    margin-top: -400px;
    margin-left: 50px;
}
.vih-text h1{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    margin-top: -53px;
    margin-left: 170px;
}
.vih img{
   width: 600px;
   margin-top:120px;
}
.vih-btn button{
    position: absolute;
    padding: 5px;
    font-size: 18px;
    font-weight: 800;
    margin-left: 1500px;
    margin-top: -135px;
    background-color: rgb(250, 0, 0);
    border-radius: 5px;
    border: 0;
}
.vih-btn button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.vih-btn button:hover {
    background: rgb(255, 166, 0);
    transform: scale(1.2);
    transition: .5s;
}
.nav-col-sm-12{
    display: inline-block;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
}
.nav-col-sm-12 ul li a:hover{
    background: rgb(250, 0, 0);
    border-radius: 10px;
    transition: .5s ease-out;
}

.Upcoming h1{
    display: flex;
    width: 87%;
    margin-top: 50px;
    margin-left: 105px;
    font-weight: 700;
    /* border-bottom: 5px double rgb(255, 166, 0); */
}

.card-col-sm-12{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* background-color: red; */
    height: 400px;
}
.card-col{
    display: flex;
    position: relative;
    justify-content: center;
    background: grey;
    width: 600px;
    height: 320px;
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}
.card-col:hover .card-body{
    right: 0;
}
.card-col:hover{
    transform: scale(1.1);
    transition: .5s;
    z-index: 2;
}
.card-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(10, 10, 10, 0.356);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}
.card-title{
    padding: 30px;
}
.card-body h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(250, 250, 250);
    
}
.card-text{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.card-body button{
    border: none;
    width: 20%;
    padding: 2px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 240px;
    background: red;
    border-radius: 10px;
}
.card-body button a{
    text-decoration: none;
    color: white;
}
.card-body button:hover{       
    background: rgb(255, 166, 0);
    transform: scale(1.1);
    transition: .5s;
}
.new{
    display:inline-block;
    margin-left: 200px;
    margin-top: 100px;
    border-top: 8px double red;
    border-right: 6pX double red;
    border-spacing: 15px;
    width: 80vw;
    border-radius: 0 25px 0px 0;
    padding: 25px;
}
.new h1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:45px;
    font-weight: 700;
  
}

.new-col-10{
   /* background: grey; */
   height: 300px;
   width: 75vw;
   margin-top: 20px;
   color: rgb(2, 2, 2);
   border-bottom: 4px double rgb(68, 68, 68);
   border-radius: 20px 20px 0px 20px;
}
.new-col-10:hover{
    transform: scale(1.05);
    transition: .5s;
    z-index: 1;
    box-shadow: 3px 3px 30px rgb(7, 7, 7);
    color: red;
}
.new-col-10 h2:hover{
    color: red;
    transition: .5s;
}

.nbody{
    display: flex;
}
.newi{
    position:absolute;
    height: 300px;
    width: 300px;
    /* background: white; */
}
.newi img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:20px 0px 0px 20px;
}
.newt{
    font-size:15px;
    margin: 10px;
    padding: 50px;
    margin-left: 300px;
}
.dhead{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-image: url(/Images/player\ bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    
}
.dhead h1{
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.dhead h1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.player{
    /* background: #000; */
    height: 150px;   
    margin-top: 180px;

}
.player img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.splayer{
    display: flex;
    justify-content: center;
    /* background: grey; */
    background: url(/Images/player\ bg.jpg);
    height: 200px;
    width: 80vw;
    margin-left: 180px;
    
}

#p1, #p3{
    display:inline;
    background: rgb(250, 250, 250);
    height: 240px;
    width: 300px;
    margin-top: -130px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#p2{
    background: rgb(250, 250, 250);
    height: 260px;
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -150px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.upbox{
    display: flex;
    height: 100%;
    width: 100%;
}
.rank{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.rank h1{
    font-size: 90px;
    text-shadow: 1px 1px 6px rgb(0, 0, 0);
    padding-left: 30px;
    margin-top: 130px;
    font-weight: 900;
    color:rgb(255, 255, 255);

}
.upimge{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.name{
    width: 100%;
    height: 80px;
    border-radius: 0 0 12px 12px;
    background-color: rgb(73, 73, 73);
}
.name h1{
    display: flex;
    padding:20px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
#n1{
    background: rgb(255, 167, 3);
}
#n2{
    background: rgb(46, 44, 44);
}
#n3{
    background: rgb(255, 0, 0);
}
#p1:hover{
    transition: 1s;
    box-shadow: 0px 0px 20px orange;
}
#p2:hover{
    transition:1s;
    box-shadow: 0px 0px 20px rgb(3, 3, 3);
    
}
#p3:hover{
    transition: 1s;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.mtable{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Play', sans-serif;
    font-weight: bolder;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.mtable td{
    color: #000;
}
.ranking{
    display: grid;
    justify-content: center;
    margin-top: 50px;
}
table{
    width: 80vw;
}
th{
    font-size: 28px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}
th,td{
    padding: 10px;
}
tr{
    border-radius: 20px;
}
tr:nth-child(even) {
    background-color: rgba(219, 219, 219, 0.514);
}
.games{
    display: flex;
    margin-left: 200px;
    text-align: center;
    margin-top: 100px;
    
}
.games h1{
    font-size: 50px;
    /* border: 5px double red; */
    border-radius: 40px;
    width: 89%;
    font-weight: 800;
    color: rgb(0, 0, 0);
    letter-spacing: -2px;
 
}
.youtube{
    display:flex;
    margin-top: 30px;
    margin-left: 200px;
}
.mvideo{
    height: 650px;
    width: 89%;
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
}
.mvideo iframe{
    height: 100%;
    width: 100%;
}
.footer{
    display:inline-block;
    width:100%;
    background:#000;
    margin-top: 10px;
    padding:50px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    display: block;
    text-align: center;
    padding:20px;
    color:gray;
    font-size:  20PX;;
    }
    .footer .row li{
        width:100%;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        padding:25px;
        color:gray;
        font-size:  20PX;;
        }
    .footer .row i{
        padding: 45px;
    }
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }


    /* Team page css */

.container-team{
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    margin-right: 30px;
    gap: 10px;
    
}
/* .bgimg{
    height: 180%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/Images/dot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity:2;
    filter: blur(8px);
} */
.team{
    display: inline-block;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 580px;
    /* background: #868686; */
    overflow: hidden;
    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */
    margin-top: 90px;
    margin-bottom: 25px;
    /* z-index: 1; */
}
.team img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.team:hover img , h1{        
    transform: scale(1.1);
    transition: .8s;
}
.team-title h1{
    position: relative;
    font-size: 60px;
    font-weight: bold;
    font-family:Verdana;
    letter-spacing: -4px;
}

.team:hover{
    transform: scale(1.05);
    transition: .8s;
    box-shadow: 0px 0px 20px rgb(253, 253, 253);
}
.team-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    opacity: 0;
    text-align: center;
}
.team:hover .overlay{
    opacity: 1;
    transition: .8s ease-in-out;
}
.overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
   
}

/* Shop page */
.shophead{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 20px;
    color: black;
    margin-top: 80px;
    font-family: sans-serif;
}
.shophead{
    background-image: url(/Images/player\ bg.jpg);
}
.shop{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.scont{
    padding: 25px;
}
.sbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-left: 15px;
    width: 350px;
    /* background: #868686; */
    margin-top: 50px;
    padding: 10px;    
    overflow: hidden;
}
.sbox:hover{
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.simg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.shophor{
    background: grey;
    height: 250px;
    width: 80vw;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 175px;
}
.shopnew{
    background: grey;
    height: 550px;
    width: 80vw;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 175px;
}
.newcol{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 550px; 
    background: rgb(204, 68, 68);  
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

/* Racers */

.racer-head h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    margin-top: 80px;
    font-family: sans-serif;
}
.racer-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.racer-card{
   background: grey;
   height: 750px;
   width: 500px;
   margin-top: 20px;
   border-bottom: 2px solid black;
   margin-left: 10px;
   margin-left: 50px;
   overflow: hidden;

}
.racer-img{
    height: 550px;
    width: 500px;
    background: burlywood;
}
.racer-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.racer-name{
   height: 200px;
   width: 100%;
   background: #ffffff;
}
#cr-1{
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    color: black;
}
#cr-2{
    font-size: 30px;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 25px;
    color: #000;
}
.racer-card:hover .racer-name{
    color: rgb(252, 248, 248);
    background-color: #030303;
    transition: .5s ease-in-out;

}
.racer-card:hover #cr-1{
    color: rgb(252, 248, 248);
}
.racer-card:hover #cr-2{
    color: white;
}
.racer-card:hover img{
    transform: scale(1.1);
    transition: .5s;
}

/* Tickets page */

.ticket-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
}
.ticket-body{
    /* background-color: #868686; */
    width:100%;
    height: 700px;
    display: flex;
    
    margin-top: 20px;
}
.ticket-cont{
    position: relative;
    margin-left: 150px;
    display: flex;
    height: 600px;
    width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.samlltickets{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
.small-tickets{
    background: grey;
    height: 280px;
    width: 350px;
}
.large-tickets{
    position: absolute;
    height: 600px;
    width: 800px;
}
.large-tickets img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay-ticket{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.753);
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.overlay-ticket h1{
    margin-top: 150px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.overlay-ticket label{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.buy-now{
    margin-top: 50px;
}
.buy-now input{ 
    border-radius: 12px;
    text-align: center;
    border: none;
    font-weight: bold;
}
.buy-now select{
    background: rgba(255, 255, 255, 0.979);
    border-radius: 12px;
    text-align: center;
    border: none;
    font-weight: bold;
}
.ticket-cont:hover .overlay-ticket{
    opacity: 1;
}
.small-tickets img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.small-tickets{
    position: relative;
}
.soverlay-ticket{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.soverlay-ticket h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.small-tickets:hover .soverlay-ticket{       
    opacity: 1;
}
.ticket-details{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
.end-ticket{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: 100px;
    background-image: url(/Images/player\ bg.jpg);
}


/* User */

.user{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url(/Images/login\ bg.jpg);
    z-index: -1;
}
.user-login{
    height: 100vh;
    width: 100vw;
}
.user-login h2{
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 50px rgb(0, 0, 0);
    font-family: sans-serif;
    padding-top: 300px;
}
.modal-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.pass-label,.email-label{
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.modal-btn{
    background-color: rgb(255, 252, 252);
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    padding: 15px;
    border: 0;
}
.modal-btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: .5s;
}
.cancel-btn, .login-btn{
    background-color: rgb(255, 252, 252);
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    padding: 15px;
    border: 0;
}

.cancel-btn:hover {
    color: rgb(255, 0, 0);
    transition: .5s;
}

.login-btn a{
    text-decoration: none;
    color: black;
   
}
 .login-btn a{
    text-decoration: none;
    color: black;
}
.login-btn a:hover{
    color: rgb(2, 90, 253);
}


/* redbull page */

.redbull-body{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 25px;
    
}
.redbull-body-content{
    margin-top: 100px;
    margin-left: 20px;
    width: 60vw;
    height: 95vh;
    display: flex;
    border-radius: 0px 25px 0px 0px;
    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */
    background: white;   
    border-top: 5px double red;
    border-right: 2px solid rgb(255, 0, 0);
}
.redbull-body-img{
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 10px;
    height: 600px;
    width: 450px;
    background: #000;
}
.redbull-body-img img{  
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;   
}
.redbull-body-img img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.redbull-body-details{
    position: relative;
    margin-top: 50px;
    height: 700px;
    width: 550px;
    padding-left: 50px;
}
.redbull-body-details h2{
    font-size: 40px;
    font-weight: 700;
   
}
.team-table{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.team-table th{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.team-table td{
    font-size: 20px;
    color: #000;
    font-weight: bold;
  
}
.redbull-profile{
    display: inline-block;
    justify-content: center;
    background: white;
    font-size: 20px;
    width: 70vw;
    margin-top: 80px;
    margin-left: 5px;
    padding: 20px;
}
.redbull-profile h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.redull-logo{
    position: absolute;
    height: 140px;
    width: 280px;
    /* background-image: url(/Images/redbull\ logo.avif); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.redull-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* mclarean page*/
.mclarean-body{
    border-top:5px double orange;
    border-right: 2px solid orange;
}
/* maxpage */

.max-head{
    display: flex;
    justify-content: left;
    margin-top: 120px;
}
.max-head h1{
    margin-left: 170px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.max-team-logo{
    background: blanchedalmond;
    height: 50px;
    width: 100px;
    margin-left: 50px;
}
.max-team-logo img{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.max-body{
    display: flex;
    width: 100%;
    height: 800px;
    /* background: rgb(0, 0, 0); */
}
.max-img{
    margin-left: 100px;
}


.max-tabel{
    /* background: rgb(231, 6, 6); */
    height: 600px;
    width: 800px;
    margin-left: 50px;
}
.player-table{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.player-table th, td{
    color: rgb(0, 0, 0);
    font-size: 20px;
}


/* Shop product page*/
marquee{ 
    background: red;
    color: #000;
    width: 80vw;
    margin-left: 200px;
    margin-top: 60px;
}
.Prodcut-head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-logo{
   width: 60px;
   height: 60px;
}

.product-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Prodcut-head h2{
    font-size: 60px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.row-container{
    display: flex;
    margin-top: 50px;
}
.product-img{
    display: flex;
    background: #000;
    margin-left: 350px;
    height: 700px;
    width: 700px;
    background: #000;
}
.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.prodcut-details{   
    height: 500px;
    width: 600px;
    margin-left: 50px;
}
.prodcut-quantity{
    margin-top: 25px;
   font-size: 20px;
}
.prodcut-quantity input{
   border-radius: 8px;
   text-align: center;
}
.prodcut-quantity select{
    border-radius: 8px;
    text-align: center;
    width: 90px;
}
.cart-btn{
    font-size: 20px;
    width: 400px;
    background: red;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.details-list{
    margin-top: 40px;
}
.product-foot{
    margin-left: 200px;
}